<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/notiflix@2.1.3/dist/AIO/notiflix-aio-2.1.3.min.js"></script>

    <!-- Our static files are served under /static/ (in the src/static/ directory). -->
    <link rel="stylesheet" href="/static/style.css">
    <script defer src="/static/abstock.js"></script>

    <link rel="stylesheet" href="/static/theme.css">

    <title>{% block title %} {{ user-content.brand-name }} {% endblock %}</title>
    {% if user-content.additional-headers %}
    {{ user-content.additional-headers | safe }}
    {% endif %}
  </head>

  <body>
    <section>
      <nav class="navbar is-info">
        <div class="container">

          <div class="navbar-brand">
            <a class="navbar-item" href="{% if domain %} {{ domain }} {% else %} ../ {% endif %}">
              {% if user-content.brand-home-title %}
              {{ user-content.brand-home-title }}
              {% else %}
              Home
              {% endif %}

            </a>

            <span class="navbar-burger burger" data-target="navbarMenu">
              <span></span>
              <span></span>
              <span></span>
            </span>
          </div>

          {% if user-content.enable-product-selection %}
          <div class="navbar-brand">
            <a class="navbar-item" href="/selection-du-libraire">
              Sélection du libraire
            </a>

          </div>
          {% endif %}

          <span class="navbar-item">
            <a class="button is-white is-outlined" href="{{ user-content.brand-link }}">
              <span class="icon">
                <i class="fa fa-home"></i>
              </span>
              <span>
                {% if user-content.brand-link-title %}
                {{ user-content.brand-link-title }}
                {% else %}
                {{ user-content.brand-name }}
                {% endif %}
              </span>
            </a>
          </span>

          <div id="navbarMenu" class="navbar-menu">
            <div class="navbar-end">

              <span class="navbar-item">
                <a class="button is-white is-outlined" href="#" onclick="gotobasket()" style="background-color: #ea62ff">
                  <span class="icon">
                    <i class="fa fa-shopping-basket"></i>
                  </span>
                  <span>
                    Panier
                    <span id="basketqty" class="tag is-light is-rounded"> 0 </span>
                  </span>
                </a>
              </span>
            </div>
          </div>
        </div>
      </nav>
    </section>

    <script>
      function setbasketqty () {
          let storage = window.localStorage;
          let quantity = 0;
          if (storage.getItem("savedcardids")) {
              let ids = storage.getItem("savedcardids").split(",");
              if (ids) {
                  quantity = ids.length;
              }
          }
          let elt = document.getElementById("basketqty");
          elt.innerText = quantity;
      }
      setbasketqty();

     function gotobasket () {
         let storage = window.localStorage;
         let ids = "";
         if (storage.getItem("savedcardids")) {
             ids = storage.getItem("savedcardids");
         }
         let url = "/panier?ids=" + ids;
         console.log("redirecting to ", url);
         window.location.href = url;
     }
    </script>

    {% block content %} {% endblock %}

    <footer class="footer" style="background-color: #222831; color: lemonchiffon; padding-bottom: 3em" data-todo="the page content should fill up all page height.">
      <div class="container">
        <div class="columns">
          <div class="column is-3 is-offset-4">
            <h2>
              <i class="fa fa-rocket"></i>
              <strong style="color: lemonchiffon;">Propulsé par</strong>
            </h2>
            <ul>
              <li><a href="http://abelujo.cc/">Abelujo</a> - logiciel libre pour librairies</li>
              <li><a href="http://abstock.gitlab.io"> ABStock</a> - catalogue en ligne</li>
            </ul>
          </div>
          <div class="column is-3">
            <h2>
              <i class="fa fa-pen"></i>
              <strong style="color: lemonchiffon;">Contact</strong></h2>
            <ul>
              {% if user-content.brand-contact-link %}
              <li><a href="{{ user-content.brand-contact-link }}"> {{ user-content.brand-name }}</a></li>
              {% endif %}
              <li><a href="http://abelujo.cc/#contact">Support technique</a></li>
            </ul>
          </div>
        </div>

      </div>
    </footer>

  </body>

  <!--TODO: move the JS into abstock.js when there is no MR (potential) conflicts.-->
  <script>
    (function() {
        var burger = document.querySelector('.burger');
        var menu = document.querySelector('#'+burger.dataset.target);
        burger.addEventListener('click', function() {
            burger.classList.toggle('is-active');
            menu.classList.toggle('is-active');
        });
    })();

    function add_to_cart (id) {
      console.log("-- adding card of id ", id, " into the shopping basket.");
      let storage = window.localStorage;
      if (storage.getItem("savedcardids")) {
        let ids = storage.getItem("savedcardids");
        ids = ids + "," + id;
        storage.setItem("savedcardids", ids);
        console.log("local storage is now: ", ids);
      } else {
        console.log("saving card id: ", id);
        storage.setItem("savedcardids", id);
      }

      setbasketqty();  // from base.

      Notiflix.Notify.Success('Le livre a été ajouté au panier.');
    };

  </script>
</html>
