<details {% if open-form %} open="true" {% endif %}>
  <summary> Formulaire de validation </summary>
   Merci de renseigner au moins un courriel valide.

   <form action="panier" method="POST">

     {% for error in form-errors %}
     <div class="notification is-warning">
       <button class="delete"></button>
       {{ error }}
     </div>
     {% endfor %}

     <div class="field">
       <div class="field">
         <label class="label"> Votre nom et prénom </label>
          <div class="control">
            <input class="input" type="text" required="" name="name" {% if form-data.name %} value="{{ form-data.name }}" {% endif %}>
          </div>
       </div>

       <div class="field">
         <label class="label">Votre courriel</label>
         <div class="control has-icons-left has-icons-right">
           <input class="input" type="email" placeholder="Courriel" name="email" {% if form-data.email %} value="{{ form-data.email }}" {% endif %}>
           <span class="icon is-small is-left">
             <i class="fas fa-envelope"></i>
           </span>
         </div>
       </div>

       <div class="field">
         <label class="label"> Téléphone</label>
          <div class="control has-icons-left has-icons-right">
            <input class="input" type="tel" placeholder="Téléphone" name="phone" {% if form-data.phone %} value="{{ form-data.phone }}" {% endif %}>
            <span class="icon is-small is-left">
              <i class="fas fa-phone"></i>
            </span>
          </div>
       </div>

       <div class="field">
         <label class="label"> Moyen de paiement </label>
          <div class="control">
            <label class="radio">
              <input type="radio" name="payment" value="monnaie" required="required">
              Monnaie (appoint)
            </label>
            <label class="radio">
              <input type="radio" name="payment" value="cheque">
              Chèque
            </label>
            <label class="radio">
              <input type="radio" name="payment" value="CB">
              CB
            </label>

          </div>
       </div>

       <div class="field">
         <label class="label"> Mode de retrait </label>
          <div class="control">
            <label class="radio">
              <input type="radio" name="delivery" value="librairie" required="required">
	      à la librairie
            </label>
            <label class="radio">
              <input type="radio" name="delivery" value="livraison">
              livraison à domicile
            </label>
          </div>
       </div>

       <div class="field">
         <label class="label"> Vérification anti-spam: {{ secret-question }}</label>
          <div class="control has-icons-left has-icons-right">
            <input class="input" type="text" required="" placeholder="M…" name="antispam">
            <span class="icon is-small is-left">
              <i class="fas fa-home"></i>
            </span>
          </div>
       </div>

       <div class="field">
         <div class="control has-icons-left has-icons-right">
           <input id="formids" class="input" type="hidden" name="ids">
         </div>
       </div>

       <!-- <p class="control">
            <div class="select">
            <label class="label">Comment allez-vous ?</label>
            <select id="mentalstate" name="mentalstate">
            <option value="1" selected> Je vais bien merci </option>
            <option value="2"> Je vais bientôt craquer il me faut des livres ! </option>
            <option value="3"> Rooogntudju </option>
            </select>
            </div>
            </p>
       -->
       <div class="field">
         <label class="label"> Message (optionnel) </label>
          <div class="control">
            <textarea class="textarea" placeholder="Message" name="message" maxlengt="300" {% if form-data.message %} value="{{ form-data.message }}" {% endif %}></textarea>
          </div>
       </div>

       <div class="field is-grouped">
         <div class="control">
           <button class="button is-link">Envoyer</button>
         </div>
       </div>
     </div>

   </form>
</details>
